<!DOCTYPE html>
<html>
<head>
	<title>My Web App</title>
</head>
<body>
	<h1>Peter Dinklage!</h1>
	<img src="img/redwoman.jpg" width = 500, 
	height = 300/>

	<br>
	<a href="/">Home</a> |
	<a href="/about">About</a> 
	
	<h1>John Snow!</h1>
	<img src="img/thenorthremembers.jpg" width = 500,
	height = 300/>
	<h1>My Forever!</h1>
	<img src="img/thewarstocome.jpg" width = 500,
	height = 300/>
	<h1>Dragon Knight!</h1>
	<img src="img/twoswords.jpg" width = 500,
	height = 300/>
	<h1>The meeting!</h1>
	<img src="img/valar.jpg" width = 500,
	height = 300/>
	<h1>Abaddon!</h1>
	<img src="img/winteriscoming.jpg" width = 500,
	height = 300/>
</body>
</html>